body {
background-image:url("assets/gcs.jpg")

}
.container-home {
    width: 50%;
    margin:0 auto;
    background-color:#ddffff;
    font-size: 20px;
    text-align: center;
    color:#ffc3cf;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-bottom: 6px;
    text-align: justify;
}

.input-container input{
    width: 100%;
    box-sizing: border-box;
    height: 35px; 
    border-radius: 8px;
    font-size: 14px;
    outline-color:rgba(227, 28, 28, 0.886);
    border:3px solid #ffc3cf;
}

.button-submit{
    width: 100px;
    border-radius: 8px;
    border:3px solid #ff8dd5;
    color:#dd2d9c;
    background-color: #ffc3cf;
}